@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    font-size: 10px;
  }

  nav {
    font-size: 1.3rem;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .searchInput {
    @apply bg-gray-100 border border-gray-300 focus:outline-none p-1 text-sm
  }

  .imageGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 300px));
    gap: 3%;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
  }

  .video { 
    display: block;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
  }

  .login-input {
    @apply bg-gray-100 border border-gray-300 p-2 mt-1.5 mb-4 text-xl
  }

  .login-button {
    @apply border py-1 px-1 my-2
  }

  .modal {
    @apply absolute inset-0 z-10
  }

  .modal-close-button {
    @apply absolute right-10 top-10 text-3xl text-white
  }

}