@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    font-size: 10px;
  }

  nav {
    font-size: 1.3rem;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .searchInput {
    @apply bg-gray-100 border border-gray-300 focus:outline-none p-1 text-sm
  }
}